
h1 {
	font-size: 20px ;
	left: 20px ;
	position: fixed ;
	top: 15px ;
	z-index: 3 ;
}

div.m-hank {
	bottom: 0px ;
	left: 0px ;
	position: absolute ;
	right: 0px ;
	top: 0px ;
	user-select: none ;
		-moz-user-select: none ;
		-webkit-user-select: none ;
}

div.m-hank img.headshot {
	display: block ;
	margin: 60px auto 60px auto ;
	width: 300px ;
}

div.m-hank div.quote {
	font-size: 36px ;
	line-height: 45px ;
	margin: 0px auto 0px auto ;
	text-align: center ;
	width: 70% ;
}

div.m-hank a.prev {
	bottom: 0px ;
	cursor: pointer ;
	left: 0px ;
	line-height: 100% ;
	position: absolute ;
	top: 0px ;
	width: 50% ;
	z-index: 2 ;
}

div.m-hank a.prev span.icon {
	background-color: #F0F0F0 ;
	border-radius: 100px 100px 100px 100px ;
	color: #FFFFFF ;
	display: none ;
	font-size: 100px ;
	height: 100px ;
	left: 20px ;
	line-height: 100px ;
	margin-top: -50px ;
	position: absolute ;
	text-align: center ;
	top: 50% ;
	width: 100px ;
}

div.m-hank a.prev:hover span.icon {
	display: block ;
}

div.m-hank a.prev:hover span.icon:hover {
	color: #AAAAAA ;
}

div.m-hank a.next {
	bottom: 0px ;
	cursor: pointer ;
	line-height: 100% ;
	position: absolute ;
	right: 0px ;
	text-align: right ;
	top: 0px ;
	width: 50% ;
	z-index: 2 ;
}

div.m-hank a.next span.icon {
	background-color: #F0F0F0 ;
	border-radius: 100px 100px 100px 100px ;
	color: #FFFFFF ;
	display: none ;
	font-size: 100px ;
	height: 100px ;
	line-height: 100px ;
	margin-top: -50px ;
	position: absolute ;
	right: 20px ;
	text-align: center ;
	top: 50% ;
	width: 100px ;
}

div.m-hank a.next:hover span.icon:hover {
	color: #AAAAAA ;
}

div.m-hank a.next:hover span.icon {
	display: block ;
}